/* BUTTON */

.wp-block-buttons {
    margin: 1em 0 !important;
    gap: 1em;
}

.wrapper .wp-block-button__link {
    padding: .6em 1em !important;
    border: 2px solid currentColor;
    border-color: var(--tertiary-color);
    border-radius: 0;

    color: var(--tertiary-color) !important;
    background: fixed var(--primary-background-color);

    font-family: var(--secondary-font);
    font-size: 1em;
    font-style: inherit;
    font-weight: bold;
    text-transform: var(--emphasized-texttransform);

    user-select: none;
}

.wrapper .wp-block-button__link:hover {
    color: var(--accent-color) !important;
    background: fixed var(--tertiary-color);
}



/* COVER */

.wp-block-cover {
    padding: 0 !important;
    min-height: unset !important;
}

.wp-block-cover__inner-container {
    position: relative;
    max-width: 1200px;
	margin: 0 auto;
	padding: var(--standard-margin) .714285rem;
}



/* DETAILS */

.wp-block-details {
    position: relative;
    margin: 1em;
    border: 2px solid currentColor;
    border-color: var(--tertiary-color);

    --transition-duration: .4s;
}

@media (min-width: 544px) {
    .wp-block-details {
        max-width: 95%;
        margin: 1em auto;
    }
}

@media (min-width: 992px) {
    .wp-block-details {
        max-width: 90%;
    }
}

.wp-block-details::before,
.wp-block-details summary {
    color: var(--tertiary-color) !important;

    transition: color 0.4s, background-color 0.4s, transform 0.4s;
}

.wp-block-details::before {
    content: "\f078 ";

    position: absolute;
    left: .6em;
    top: .6em;

    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.wp-block-details[open]::before {
    transform: rotate(180deg);
}

.wp-block-details summary,
.wp-block-details p,
.wp-block-details * {
    padding-inline: 1em;
}

.wp-block-details summary {
    padding-block: .6em;
    padding-left: calc(1ch + 1.2em);

    text-align: center;

    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: var(--emphasized-texttransform);
    background: fixed var(--primary-background-color);

    user-select: none;
}

.wp-block-details[open]::before,
.wp-block-details[open] summary {
    color: var(--accent-color) !important;

    transition: color .4s calc(.5 * var(--transition-duration)), transform .4s var(--transition-duration);
}

.wp-block-details[open] summary {
    background: fixed var(--tertiary-color);
}

.wp-block-details summary::marker {
    content: '';
}

.wp-block-details[open] p:nth-child(2) {
    border-top: 2px solid currentColor;
    border-color: var(--tertiary-color);
    padding-top: .6em;
}

.wp-block-details[open] p:last-child {
    padding-bottom: .6em;
}

@media (prefers-reduced-motion: no-preference) {
    .wp-block-details::after {
        content: '';

        position: absolute;
        top: 0;
        bottom: 100%;
        left: 0;
        width: 100%;

        background: fixed var(--tertiary-color);
    }

    .wp-block-details[open]::after {
        animation: details-open var(--transition-duration) forwards;
    }
}

@keyframes details-open {
    from {
        top: 0;
        bottom: 100%;
    }

    50% {
        top: 0;
        bottom: 0;
    }

    to {
        top: 100%;
        bottom: 0;
    }
}



/* GROUP */

.wp-block-group {
    position: relative;
}

.wp-block-group.is-horizontal>p {
    margin-bottom: 0;
}

.wrapper>.wp-block-group {
    overflow: visible;
}



/* IFRAME */

iframe {
    display: block;
    margin: var(--standard-margin) auto;
}



/* IMAGE */

.wp-block-image {
    position: relative;
}

figure.wp-block-image {
    margin: 1.5rem auto !important;
    padding-bottom: .6rem;
    overflow: hidden;
}

figure.wp-block-image.alignleft {
    margin: 1.5rem 1.5rem 1.5rem 0 !important;
}

figure.wp-block-image.alignright {
    margin: 1.5rem 0 1.5rem 1.5rem !important;
}

figure.wp-block-image::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    height: .6rem;
    width: 100%;

    background: var(--tertiary-color) !important;
}

.wp-block-image.size-large,
.wp-block-image .size-large,
.wp-block-image.size-full,
.wp-block-image .size-full {
    padding-bottom: 0;
}

.wp-block-image.size-full,
.wp-block-image .size-full {
    font-size: 2em;
}

.wp-block-image.size-large::before,
.wp-block-image.size-full::before,
.wp-block-image.size-large::after,
.wp-block-image.size-full::after {
    content: '';

    position: absolute;
    height: .6em;
    width: unset;

    background: var(--tertiary-color) !important;

    z-index: 1;
}

.wp-block-image.size-large::before,
.wp-block-image.size-full::before {
    --animation-width: 60%;

    top: 1.8em;
    left: 0;
    right: 100%;
}

.wp-block-image.size-large::after,
.wp-block-image.size-full::after {
    --animation-width: 40%;

    bottom: 1.8em;
    left: 100%;
    right: 0;

    background: fixed var(--primary-background-color) !important;
}

@media (prefers-reduced-motion) {
    .wp-block-image.size-large::before,
    .wp-block-image.size-full::before {
        left: 0;
        right: calc(100% - var(--animation-width));
    }

    .wp-block-image.size-large::after
    .wp-block-image.size-full::after {
        left: calc(100% - var(--animation-width));
        right: 0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .wp-block-image.size-large:hover::before,
    .wp-block-image.size-full:hover::before,
    .wp-block-image.size-large:hover::after,
    .wp-block-image.size-full:hover::after {
        animation: .4s .2s reverse;
    }

    .wp-block-image.size-large:hover::before,
    .wp-block-image.size-full:hover::before {
        animation-name: image-hover-left;
    }

    .wp-block-image.size-large:hover::after,
    .wp-block-image.size-full:hover::after {
        animation-name: image-hover-right;
    }
}

@keyframes image-hover-left {
    from {
        left: 0;
        right: 100%;
    }

    50% {
        left: 0;
        right: calc(100% - var(--animation-width));
    }

    to {
        left: var(--animation-width);
        right: calc(100% - var(--animation-width));
    }
}

@keyframes image-hover-right {
    from {
        left: 100%;
        right: 0;
    }

    50% {
        left: calc(100% - var(--animation-width));
        right: 0;
    }

    to {
        left: calc(100% - var(--animation-width));
        right: var(--animation-width);
    }
}

@media (min-width: 601px) {
    .wp-block-image.size-large {
        max-width: 60%;
    }
}

@media (min-width: 992px) {
    .wp-block-image.size-large {
        max-width: 50%;
    }
}

.wp-block-image.size-full {
    max-width: 100%;
    width: fit-content;
}

.wp-block-image img {
    object-fit: cover;

    transition: all 0.2s ease-in;
}

@media (prefers-reduced-motion: no-preference) {
    figure.wp-block-image:hover img {
        transform: scale(1.05);
    }
}

.wp-block-image figcaption {
    position: absolute;
    bottom: .6rem;
    left: 0;
    margin: 0 !important;
    padding: .125em .5em !important;

    color: var(--accent-color) !important;
    font-size: 1rem !important;
    font-weight: 300;
    
    backdrop-filter: blur(.5rem);
}

@supports not (backdrop-filter: blur(.5rem)) {
    .wp-block-image figcaption {
        background-color: color-mix(in srgb, var(--primary-color) 60%, transparent) !important;
    }
}

@supports not ((backdrop-filter: blur(.5rem)) or (background-color: color-mix(in srgb, var(--primary-color) 60%, transparent))) {
    .wp-block-image figcaption {
        background-color: var(--primary-color) !important;
    }
}

.wp-block-image.size-large figcaption,
.wp-block-image.size-full figcaption {
    bottom: 0;
}



/* LIST */

.wp-block-list {
    margin: 1rem 0;
}

.wp-block-list .wp-block-list {
    margin: 0;
}

.wp-block-list li {
    position: relative;
    left: 1em;
}

ul.wp-block-list li::marker {
    content: '• ';
    
    font-weight: bolder;
    color: var(--tertiary-color);
}



/* MEDIA & TEXT */

.wp-block-media-text>figure {
    position: relative;
    padding-bottom: .6rem;
    height: 100%;
    overflow: hidden;
}

.wp-block-media-text>figure::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    height: .6rem;
    width: 100%;

    background: var(--tertiary-color) !important;
}

.wp-block-media-text>figure>img {
    height: 100%;

    object-fit: cover;

    transition: all 0.2s ease-in;
}

@media (prefers-reduced-motion: no-preference) {
    .wp-block-media-text>figure>img:hover {
        transform: scale(1.05);
    }
}

.wp-block-media-text__content {
    padding: 1rem 1.5rem !important;
}

@media (min-width: 992px) {
    .wp-block-media-text__content {
        margin: 0 !important;
        margin-left: var(--standard-margin) !important;
        padding: 0 !important;
    }
    
    .has-media-on-the-right .wp-block-media-text__content {
        margin: 0 !important;
        margin-right: var(--standard-margin) !important;
    }
}

@media (max-width: 600px) {
    .wp-block-media-text__content,
    .has-media-on-the-right .wp-block-media-text__content {
        margin: 0 !important;
        padding: 1rem 0 !important;
    }
}

.wp-block-cover .wp-block-media-text__content {
    padding: 1rem 1.5rem !important;

    backdrop-filter: blur(.5rem);
}

@supports not (backdrop-filter: blur(.5rem)) {
    .wp-block-cover .wp-block-media-text__content {
        background-color: color-mix(in srgb, var(--primary-color) 60%, transparent) !important;
    }
}

@supports not ((backdrop-filter: blur(.5rem)) or (background-color: color-mix(in srgb, var(--primary-color) 60%, transparent))) {
    .wp-block-cover .wp-block-media-text__content {
        background-color: var(--primary-color) !important;
    }
}

@media (max-width: 600px) {
    .wp-block-cover .wp-block-media-text__content {
        padding: 1rem !important;
    }
}



/* QUOTE */

.wp-block-quote {
    padding: 1em;
}

@media (min-width: 544px) {
    .wp-block-quote {
        max-width: 95%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .wp-block-quote {
        max-width: 90%;
    }
}

.wp-block-quote p {
    position: relative;

    font-family: var(--secondary-font);
    font-size: 1.25rem;
    color: var(--primary-color);
    vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
    .wp-block-quote:hover p {
        animation: quote-hover .4s ease-in-out;
    }
}

@keyframes quote-hover {
    from {
        scale: 1;
    }

    25% {
        scale: 1.05;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.025;
    }

    to {
        scale: 1;
    }
}

.wp-block-quote p::before,
.wp-block-quote p::after {
    font-size: 1.25em;
    color: var(--tertiary-color);
}

.wp-block-quote p::before {
    content: '“';
    padding-right: .5ch;
}

.wp-block-quote p::after {
    content: '”';
    padding-left: .5ch;
}

.wp-block-quote p:last-of-type {
    margin: 0;
}

.wp-block-quote cite {
    font-style: normal;
}