footer {
    display: flex;
    position: fixed;
    box-sizing: border-box;

    height: var(--margin);
    width: 100%;
    bottom: 0;
    padding-inline: var(--margin);

    align-items: center;

    font-family: var(--secondary-font);

    z-index: 9998;
}

footer a {
    font-style: normal;
    text-decoration: none;
}

footer * {
    padding-block: 0 !important;
    font-size: 12px !important;
    display: inline;
}

@media (min-width: 544px) {
    footer * {
        font-size: 1rem !important;
    }
}

footer .theme-info {
    display: none;
    
    position: absolute;
    top: -50%;
    left: calc(100% - .5 * var(--margin));

    width: max-content;

    transform-origin: center left;
    transform: rotate(-90deg);

    cursor: vertical-text;

    z-index: 9998;
}

@media (min-width: 992px) {
    footer .theme-info {
		display: initial;
	}
}