.main-nav {
    position: fixed;
    bottom: var(--margin);
    right: var(--margin);
    width: calc(100% - 2 * var(--margin));
    max-width: calc(100% - 2 * var(--margin));

    font-family: var(--secondary-font);
    font-size: 1.25rem;

    z-index: 9999;
}

@media (min-width: 544px) {
    .main-nav {
        width: unset;
        min-width: calc(6em + 50%);
	}
}

@media (min-width: 992px) {
    .main-nav {
        min-width: calc(6em + 25%);
        font-size: 1.5rem;
	}
}

.nav-wrapper {
    position: relative;
    width: 100%;
    line-height: 1em;

    display: grid;
    grid-template-areas:
        "logo nav nav nav"
        "logo perspective title title";
    grid-template-columns: calc(4 * var(--padding-block) + 2em) 3em auto auto;
    align-items: center;

    background: #fff;
    box-shadow: inset 0px 0px 0px var(--line-thickness) #000;
}

.nav-wrapper>* {
    padding: var(--padding-block) var(--padding-inline);
}

.nav-wrapper>.logo {
    --factor: .5;

    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    padding: calc(var(--padding-block) * var(--factor)) calc(var(--padding-inline) * var(--factor));

    user-select: none;
}

.nav-wrapper>.logo img {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1/1;
}

.nav-wrapper>.navigation {
    grid-area: nav;

    display: flex;
    padding: 0;

    align-items: center;

    box-shadow:
        inset 0px calc(-.5 * var(--line-thickness)) 0px 0px #000,
        inset var(--line-thickness) 0px 0px 0px #000;
}

.nav-wrapper>.perspective {
    grid-area: perspective;

    height: 1em;

	background: scroll url(../images/ISO-Ansicht.svg) no-repeat center / 90% auto;
    box-shadow:
        inset 0px calc(.5 * var(--line-thickness)) 0px 0px #000,
        inset var(--line-thickness) 0px 0px 0px #000;
}

.nav-wrapper>.page-title {
    --factor: 1.25;
    grid-area: title;

    font-size: calc(1em * var(--factor));
    padding: calc(var(--padding-block) / var(--factor)) calc(var(--padding-inline) / var(--factor));

    box-shadow:
        inset 0px calc(.5 * var(--line-thickness)) 0px 0px #000,
        inset var(--line-thickness) 0px 0px 0px #000;
}

.main-nav .navigation li {
    position: relative;
    display: inline;
    list-style: none;

    flex: 1 1 auto;

    box-shadow:
        inset calc(.5 * var(--line-thickness)) 0px 0px 0px #000,
        inset calc(-.5 * var(--line-thickness)) 0px 0px 0px #000;
    
    user-select: none;
}

.main-nav .navigation li a {
    display: inline-block;
    width: 100%;
    padding: var(--padding-block) var(--padding-inline);
}

.main-nav .navigation li.open,
.main-nav .navigation li:hover {
    background-color: #000;
}

.main-nav .navigation li.open>a,
.main-nav .navigation li:hover>a {
    color: #fff;
}

.main-nav a {
    font-style: normal;
    text-decoration: none;
}

.main-nav .navigation .sub-menu {
    display: none;

    position: absolute;
    bottom: calc(100% - var(--line-thickness));
    right: calc(-.5 * var(--line-thickness));

    box-shadow: inset 0px 0px 0px var(--line-thickness) #000;
    background: #fff;
}

.main-nav .navigation :last-child .sub-menu {
    right: 0;
}

.main-nav .navigation .menu-item.open .sub-menu,
.main-nav .navigation .menu-item:hover .sub-menu {
    display: grid;
}

.main-nav .navigation .sub-menu li {
    box-shadow:
        inset 0px calc(.5 * var(--line-thickness)) 0px 0px #000,
        inset 0px calc(-.5 * var(--line-thickness)) 0px 0px #000;
}