.main-nav {
    position: fixed;
    bottom: var(--margin);
    right: var(--margin);
    width: calc(100% - 2 * var(--margin));
    max-width: calc(100% - 2 * var(--margin));

    font-family: var(--secondary-font);
    font-size: 1rem;

    z-index: 9999;
}

@media (min-width: 544px) {
    .main-nav {
        width: unset;
        min-width: calc(6em + 50%);

        font-size: 1.25rem;
	}
}

@media (min-width: 992px) {
    .main-nav {
        min-width: calc(6em + 25%);
        font-size: 1.5rem;
	}
}

.nav-wrapper {
    position: relative;
    width: 100%;
    line-height: 1em;

    display: grid;
    grid-template-areas:
        "logo nav nav nav"
        "logo perspective title title";
    grid-template-columns: calc(4 * var(--padding-block) + 2em) 3em auto auto;
    align-items: center;

    background: var(--bg-color);
    box-shadow: inset 0px 0px 0px var(--line-thickness) currentColor;
}

.nav-wrapper>* {
    padding: var(--padding-block) var(--padding-inline);
}

.nav-wrapper>.logo {
    --factor: .5;

    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    padding: calc(var(--padding-block) * var(--factor)) calc(var(--padding-inline) * var(--factor));

    user-select: none;
}

.nav-wrapper>.logo img {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1/1;
}

.nav-wrapper>.navigation {
    grid-area: nav;

    display: flex;
    padding: 0;

    align-items: center;

    box-shadow:
        inset 0px calc(-.5 * var(--line-thickness)) 0px 0px currentColor,
        inset var(--line-thickness) 0px 0px 0px currentColor;
}

.nav-wrapper>.perspective {
    grid-area: perspective;

    height: 1em;

	background: scroll url(../images/ISO-Ansicht.svg) no-repeat center / 90% auto;
    box-shadow:
        inset 0px calc(.5 * var(--line-thickness)) 0px 0px currentColor,
        inset var(--line-thickness) 0px 0px 0px currentColor;
}

@media (prefers-color-scheme: dark) {
	.nav-wrapper>.perspective {
		background-image: url(../images/ISO-Ansicht_inverted.svg);
	}
}

.nav-wrapper>.page-title {
    --factor: 1.25;
    grid-area: title;

    font-size: calc(1em * var(--factor));
    padding: calc(var(--padding-block) / var(--factor)) calc(var(--padding-inline) / var(--factor));

    box-shadow:
        inset 0px calc(.5 * var(--line-thickness)) 0px 0px currentColor,
        inset var(--line-thickness) 0px 0px 0px currentColor;
}

.main-nav .navigation li {
    position: relative;
    display: inline;
    list-style: none;

    flex: 1 1 auto;

    box-shadow:
        inset calc(.5 * var(--line-thickness)) 0px 0px 0px currentColor,
        inset calc(-.5 * var(--line-thickness)) 0px 0px 0px currentColor;
    
    user-select: none;
}

.main-nav .navigation li a {
    display: inline-block;
    width: 100%;
    padding: var(--padding-block) var(--padding-inline);
}

.main-nav .navigation li.open,
.main-nav .navigation li:has(:focus),
.main-nav .navigation li:hover {
    background-color: currentColor;
}

.main-nav .navigation li.open>a,
.main-nav .navigation li:has(:focus)>a,
.main-nav .navigation li:hover>a {
    color: var(--bg-color);
}

.main-nav a {
    font-style: normal;
    text-decoration: none;
}

.main-nav .navigation .sub-menu {
    display: grid;

    position: absolute;
    bottom: calc(100% - var(--line-thickness));
    right: calc(-.5 * var(--line-thickness));

    box-shadow: inset 0px 0px 0px var(--line-thickness) currentColor;
    background: var(--bg-color);

    opacity: 0;
    height: 0;

    z-index: -1;
}

.main-nav .navigation :last-child .sub-menu {
    right: 0;
}

.main-nav .navigation .menu-item.open .sub-menu,
.main-nav .navigation .menu-item:has(:focus) .sub-menu,
.main-nav .navigation .menu-item:hover .sub-menu {
    opacity: 1;
    height: auto;
}

.main-nav .navigation .sub-menu li {
    width: max-content;
    min-width: 100%;
    
    box-shadow:
        inset 0px calc(.5 * var(--line-thickness)) 0px 0px currentColor,
        inset 0px calc(-.5 * var(--line-thickness)) 0px 0px currentColor;
}