@font-face{
	font-family: 'TGL';
	src:
		url('../fonts/TGL31034TT/TGL 31034-1.ttf') format('truetype');
        
	font-display: swap;
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'TGL';
	src:
        url('../fonts/TGL31034TT/TGL 31034-2.ttf') format('truetype');
        
	font-display: swap;
	font-style: italic;
	font-weight: normal;
}

:root {
    --wordpress-support-bar: 0px;
    

    --emphasized-texttransform: uppercase;
    --emphasized-letterspacing: 0em;


    --header-font: "Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
    --header-texttransform: uppercase;

    --main-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
    --secondary-font: "Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
    --details-font: "Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.customize-support {
    --wordpress-support-bar: 32px;
}

@media (max-width: 782px) {
    .customize-support {
        --wordpress-support-bar: 46px;
    }
}