@font-face{
	font-family: 'TGL';
	src:
		url('../fonts/TGL31034TT/TGL 31034-1.ttf') format('truetype');
        
	font-display: swap;
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'TGL';
	src:
        url('../fonts/TGL31034TT/TGL 31034-2.ttf') format('truetype');
        
	font-display: swap;
	font-style: italic;
	font-weight: normal;
}

:root {
    --standard-margin: 2rem;

    --padding-block: .5em;
    --padding-inline: .75em;

    --wordpress-support-bar: 0px;


    --main-font: "Helvetica Neue",Arial,sans-serif;
    --secondary-font: "TGL",Arial,sans-serif;
}

.customize-support {
    --wordpress-support-bar: 32px;
}

@media (max-width: 782px) {
    .customize-support {
        --wordpress-support-bar: 46px;
    }
}