@font-face{
	font-family: 'TGL';
	src:
		url('../fonts/TGL31034TT/TGL 31034-1.ttf') format('truetype');
        
	font-display: swap;
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'TGL';
	src:
        url('../fonts/TGL31034TT/TGL 31034-2.ttf') format('truetype');
        
	font-display: swap;
	font-style: italic;
	font-weight: normal;
}

:root {
    --standard-margin: 5rem;

    --padding-block: .4em;
    --padding-inline: .4em;

    --line-thickness: 2px;

    --wordpress-support-bar: var(--wp-admin--admin-bar--height, 0px);


    --main-font: "Liberation Serif","Times New Roman",sans-serif;
    --secondary-font: "TGL",Arial,sans-serif;



    --wp--style--gallery-gap-default: 1rem;
}

@media (min-width: 375px) {
    :root {
    	--padding-block: .5em;
		--padding-inline: .5em;
	}
}

@media (min-width: 544px) {
    :root {
    	--padding-block: .5em;
		--padding-inline: .75em;
	}
}