/* FAQ */

.wp-block-yoast-faq-block {
    margin-block: var(--standard-margin);
}

.wp-block-yoast-faq-block:first-child {
    margin-top: 0;
}

.wp-block-yoast-faq-block:last-child {
    margin-bottom: 0;
}

.wp-block-yoast-faq-block .schema-faq-section {
    margin-bottom: 1em;
}

.wp-block-yoast-faq-block .schema-faq-question {
    color: var(--tertiary-color) !important;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 1em;
    text-transform: var(--emphasized-texttransform);
}



/* HOW TO */

.wp-block-yoast-how-to-block {
    margin-block: var(--standard-margin);
}

.wp-block-yoast-how-to-block:first-child {
    margin-top: 0;
}

.wp-block-yoast-how-to-block:last-child {
    margin-bottom: 0;
}

.wp-block-yoast-how-to-block .schema-how-to-step {
    position: relative;
    left: 1em;
    margin-bottom: 1em;
}

.wp-block-yoast-how-to-block .schema-how-to-step::marker,
.wp-block-yoast-how-to-block .schema-how-to-step-name {
    color: var(--tertiary-color) !important;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 1em;
    text-transform: var(--emphasized-texttransform);
}